In [14]:
from datetime import datetime

In [15]:
# order of arguments
my_year = 2020
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [16]:
my_data = datetime(my_year,my_month,my_day)

In [17]:
my_data

datetime.datetime(2020, 1, 2, 0, 0)

In [18]:
my_data_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [19]:
my_data_time

datetime.datetime(2020, 1, 2, 13, 30, 15)

In [20]:
my_data_time.day

2

In [21]:
import numpy as np

In [22]:
np.array(['2020-03-15','2020-03-16','2020-03-17'],dtype='datetime64[h]')

array(['2020-03-15T00', '2020-03-16T00', '2020-03-17T00'],
      dtype='datetime64[h]')

In [23]:
np.array(['2020-03-15','2020-03-16','2020-03-17'],dtype='datetime64[Y]')

array(['2020', '2020', '2020'], dtype='datetime64[Y]')

In [24]:
np.array(['2020-03-15','2020-03-16','2020-03-17'],dtype='datetime64')

array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64[D]')

In [25]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [26]:
np.arange('2019-06-01','2019-06-27',7,dtype='datetime64[D]')

array(['2019-06-01', '2019-06-08', '2019-06-15', '2019-06-22'],
      dtype='datetime64[D]')

In [27]:
np.arange('1945','2019',dtype='datetime64[Y]')

array(['1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952',
       '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
       '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018'], dtype='datetime64[Y]')

In [28]:
import pandas as pd

In [29]:
pd.date_range('2020-01-01', periods=7, freq='D')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [30]:
pd.date_range('Jan-01-2018', periods=7, freq='D')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

In [31]:
pd.to_datetime(['1/2/2018', 'Jan 10, 2018'],)

DatetimeIndex(['2018-01-02', '2018-01-10'], dtype='datetime64[ns]', freq=None)

In [32]:
#Month and day not standardized to north america 
# standard format Year Month day hours minutes seconds etc. 

# data is day, month, year use format to change 

pd.to_datetime(['2/1/2018', '3/1/2018'],format='%d/%m/%Y')

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [33]:
#Database saves time data in a specific way 

pd.to_datetime(['2--1---2018', '3--1---2018'],format='%d--%m---%Y')

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [36]:
data = np.random.randn(4,2)
cols = ['A','B']
print(data)

[[ 0.55569409  0.09229988]
 [ 0.35012612  1.15912521]
 [-1.18450856  0.48639099]
 [-1.11730404  0.39415241]]

In [37]:
idx = pd.date_range('2020-01-01', periods=4, freq='D')

df = pd.DataFrame(data, index=idx, columns = cols)

In [38]:
df

                   A         B
2020-01-01  0.555694  0.092300
2020-01-02  0.350126  1.159125
2020-01-03 -1.184509  0.486391
2020-01-04 -1.117304  0.394152

In [39]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04'], dtype='datetime64[ns]', freq='D')

In [41]:
df.index.max()

Timestamp('2020-01-04 00:00:00')

In [42]:
df.index.argmax()

3

In [43]:
df.index.min()

Timestamp('2020-01-01 00:00:00')

In [44]:
df.index.argmin()

0